<% include common/partials/_header %>
  <tr>
    <td>
      <a href="$URL$-Shop" rilt="Shop">
        <img src="images/masthead.jpg" width="600" height="432" border="0" alt="Discover dashing holiday gift suggestions, as selected by our friends at Gent&apos;s Lounge." style="display: block;">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="$URL-Lexington$-CTALexington" rilt="CTALexington">
        <img src="images/lexington.jpg" width="600" height="554" border="0" alt="Lexington Collection Power Razor" style="display: block;">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="$URL-FSK$-CTAFullSizeKit" rilt="CTAFullSizeKit">
        <img src="images/fullsizekit.jpg" width="600" height="577" border="0" alt="Full Size Kit" style="display: block;">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="$URL-Vetiver$-CTAVetiger" rilt="CTAVetiger">
        <img src="images/vetiver.jpg" width="600" height="492" border="0" alt="Vetiver Soap on a Rope" style="display: block;">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="$URL-Peppermint$-CTAPeppermint" rilt="CTAPeppermint">
        <img src="images/peppermint.jpg" width="600" height="559" border="0" alt="Peppermint Shaving Cream" style="display: block;">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="$URL$-CTAComplimentary" rilt="CTAComplimentary">
        <img src="images/cta-shop-now-complimentary.jpg" width="600" height="210" border="0" alt="Wrap up your holiday shopping with complimentary shipping." style="display: block;">
      </a>
    </td>
  </tr>
  <% include common/partials/_footer %>